# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual environments
gapt_env/
venv/
env/
.venv/

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.local
